<h1> Welcome </h1>
<h2> What would you like to do? </h2>

<form action="/all" method="get">
<input type="submit" value="View All Data">
</form>
<form action="/search" method="get">
<input type="submit" value="Search Data">
</form>
