<form action="/search_results" method="get">
  Enter a Product
  <input type="text" name="product">
  <p>Enter a Customer
  <input type="text" name="customer"></p>
  <p>Enter a Measure
  <input type="text" name="measure"></p>
  <input type="submit" value="Submit">
</form>
