<form action="/results" method="get">
  Enter a Product
  <input type="text" name="product">
  <p>Enter a Customer
  <input type="text" name="customer"></p>
  <p>Enter a Measure
  <input type="text" name="measure"></p>
  <input type="submit" value="Submit">
</form>

<form action="/" method="get">
<input type="submit" value="Home">
</form>
